.header{
    position: fixed;
    height: 120px;
    width: 100%;
    z-index: 200;
    background: white;
    margin: 0;
    padding: 0;
    
}
.header_body{
    display: flex;
    flex-flow: row;
    background: black;
    background: linear-gradient(90deg,rgba(0,0,0,1)70%,rgba(0,0,0,0)100%);
}
.Profileimage{
    height: 120px;
    width: 120px;
    z-index: -5;
}
.logo_text{
    height: 120px;
    flex: 1;
    padding-left: 30px;
    display: flex;
    font-size: 12px;
    flex-flow: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: flex-start;
    color: rgba(245, 245, 245, 0.7);
}
.logo_text p{
    margin: 0;
    padding: 0;
}
