.pageRootBlack, .pageRootWhite {
  min-height: 100vh;
  padding-right: 50px;
  padding-left: 100px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageRootBlack{  
  color: var(--white);
  font-weight: lighter;
  background-color: var(--primary-color);
}

.pageRootWhite {
  color: black;
  background-color: whitesmoke;
}

.leftAlignedBold {
  text-align: left;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}


@media only screen and (max-width: 425px) {
  .pageRootBlack,.pageRootWhite{
    padding: 20px;
    padding-left: 50px;
  }
}