.pageRootBlack{
    color: rgba(245, 245, 245, 0.5);
    padding: 20px;
    padding-top: 130px;
    text-align: left;
}

.pageRootWhite{
    color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    padding-top: 130px;
    text-align: left;
}

.leftAlignedBold{
    text-align: left;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}


.rightAlignedBold{
    text-align: right;
    font-weight: bold;
}